
/**기본 베이스*/
* {
  margin: 0;
  padding: 0;
}

/*-- 글꼴 추가--*/
/*
@font-face{font-family:'NotoSansKR-Regular'; src: url('/static/font/NotoSansKR-Regular.otf') format('opentype');}
* {font-family:'NotoSansKR-Regular';font-size:16px;}*/
@font-face {font-family: 'Pretendard-Regular';src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');font-weight: 500;font-style: normal;}
* {font-family:'Pretendard-Regular';font-size:16px;}

body.index {
  display: inline-block;
}

body{
    width: 100%;
    background-color:#98A7BD;
    margin: 72px 0px 0px 0px;
    display: flex;
    flex-flow: column wrap;            
    justify-content: space-between;
}


a {

    text-decoration: none;
}
    /**로고*/  
    .logo{
        font-weight: 800;
        font-size: 30px;       
        color: #192E61; 
        border:none;
        letter-spacing: -3px;
        text-decoration: none;
        color: #f9f9f9;
        
    }    
   
    /**본문*/
    .index-container{
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
    }
     /**네비바*/
     .navbar .logo{
        color: #192E61;
        flex:none;
    }
    button {
        font-size: 28px;
        border: 0;
        padding: 0;
        background: transparent;
        cursor: pointer; 
    } 
    
    .navbar,
    .navbar-burger,
    .menu{
        position: fixed;
    }
    .navbar {
      z-index: 1;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 72px;
      padding-left: 20px;
      padding-right: 72px;
      background: #ffffff;
      color: #192E61;
      flex-flow: nowrap;
      
    }
 
    .navbar-burger {
      z-index: 7;
      top: 0;
      right: 0;
      place-items: center;
      width: 72px;
      height: 72px;
      background-image: url("/static/pictures/menu.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
    
    body.open .navbar-burger {
      background-image: url("/static/pictures/close.svg");
    }
      
    .menu {
      z-index: 5;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 32px;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.8);
      opacity: 0;
      visibility: hidden;
      transition: 0.5s;
    }
    
    body.open .menu {
      opacity: 0.8;
      visibility: visible;
    }
    
    .menu > a {
      color: #f9f9f9;
      font-size: 32px;
      font-family: "Euclid Circular A";
      text-decoration: none;
    }
    
    body.open .menu > a {
      animation: appear 0.3s both;
      
    }
    
    @keyframes appear {
      0% {
        opacity: 0;
        translate: 0 50px;
      }
      100% {
        opacity: 1;
      }
    }   
    .menu a:hover{
        font-size:34px ;
        transition-duration: 0.3s;
    }
    
    .index-header{
        width: 400px;
        margin:50px 0px 50px 0px;
        flex-flow: wrap column;
        text-align: center;
    }
    .under-logo{
        color:#f9f9f9;
        font-size:xx-large; 
        font-weight: 500;
        text-align: left;
    }
    .under-logo .logo{
        font-size: 40px;
    }
    .index-menu-container{
        display: flex;
        flex-flow: column;
        height:100%; 
        background-image: url("/static/pictures/main.png");
        background-size: cover;
        background-repeat: no-repeat;
        padding: 100px 0px 0px 0px ;
    }
    .index-menu-box{
        display: flex;
        flex-flow: row;  
        justify-content: space-around;
        align-items: center;


    }
    .btn-logo{
        margin-bottom: 100px;
        z-index: 3; margin-left: 20px; 
    }
    .btn-container{
        width: 100%;
        display:flex;
        flex-flow:row wrap;
        justify-content: space-evenly;
        align-self: center;
    }
    .menu-box{
        display: flex;
        flex-flow: wrap column;
        justify-content: space-evenly;
        align-items: center;
        width: 550px;
        height: 600px;
        background-color: #f9f9f9;
        opacity: 0.9;
        border-radius: 46px;
    }
    .menu-box:hover{
      background-color:#f9f9f9;
      transition-duration: 0.8s;
    }
    .btn-img{
        width:80%;
    }
    .btn-s{
      font-size: 28px;
      border: 0;
      padding: 0;
      background: transparent;
      cursor: pointer; 
      border: #192E61 solid;
      border-radius: 90px;
      width: 70%;
      height: 20%;  
            
    }
    .btn-s:hover{
      background-color:#192E61;
      transition-duration: 0.5s;
      color:#f3f3f3;
    }
    /**스크롤 아이콘*/
    .scroll-downs {
      display: flex;
      flex-flow: column;
      justify-content: center;
      margin: auto;        
      width :34px;
      height: 200px;
    }
    .mousey {
      width: 3px;
      padding: 10px 15px;
      height: 35px;
      border: 2px solid #f3f3f3;
      background-color: #f3f3f3;
      border-radius: 25px;
      opacity: 0.75;
      box-sizing: content-box;
    }
    .scroller {
      width: 4px;
      height: 10px;
      border-radius: 25%;
      background-color: #333333;
      animation-name: scroll;
      animation-duration: 2.2s;
      animation-timing-function: cubic-bezier(.15,.41,.69,.94);
      animation-iteration-count: infinite;
    }
    @keyframes scroll {
      0% { opacity: 0; }
      10% { transform: translateY(0); opacity: 1; }
      100% { transform: translateY(15px); opacity: 0;}
    }
    /**what we do*/
    .whatwedo{
        display: flex;
        flex-flow: column;
        justify-content: center;
        padding: 200px 0px 200px 0px;
    }
    .whatwedo-container{
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
        justify-content: space-evenly;
        padding-bottom: 150px;
    }
    .whatwedo-box{
        width: 500px;
        margin: 25px 0px 25px 0px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 23px;
        vertical-align:auto;
        color:#f9f9f9;
    }
    /**about us*/
    .aboutus{
      display: flex;
      flex-flow: column;
      justify-content: center;
      padding: 100px 0px 0px 0px;
      background-image: url("/static/pictures/b.png");
      background-size: cover;
      background-repeat: no-repeat;
  }
    .aboutus-container{
        display: flex;
        justify-content: space-around;
        flex-flow: row wrap;

    }
    .aboutus-box1{
        width: 950px;
        height: 500px;
        margin: 25px 0px 25px 0px;
        display: flex;
        flex-flow: column wrap;
    }
    .aboutus-box1 .under-logo{
        line-height: 1;
    }
    .aboutus-box1 .box-sm{
        display: flex;
    }
    .aboutus-box1 .box-lg{
        display: flex;
    }
    #b4aa{
        width: 100%;
        font-size: 135px;
        font-weight: 900;
        color: #f9f9f9;
    }
    #b4aa2{
        font-size: 135px;
        font-weight: 900;
        color: #f9f9f9;
        line-height: 0.5
    }
    .aboutus-box2{
        width: 500px;
        height: 500px;
        margin: 25px 0px 25px 0px;
        display: flex; 
        flex-flow: column; 
        justify-content: center; 
    }
    .aboutus-box2 .logo{
        width: fit-content;
        font-weight:400;
    }
    .box2-container{  
        display: flex;    
        flex-flow:column;  
        align-items: center;
    }
    
    .box2-container .btn-s{
        height: 80px;
        align-self: flex-end;
        margin-top: 10px;
        border: #f9f9f9 solid;
        color: #f9f9f9;
    }
    /**푸터*/
    .footer{
        height: 200px;
        background: #ffffff;
        margin-top: auto;
        display: flex;
        justify-content: space-around;
    } 
    .footer-box{
        display: flex;
        flex-flow: column;
        justify-content: center;
    }
    .footer-box-box{
        height: auto;
        margin: 10px 0px 10px 0px;
        font-size: 12px;
        color:#192E61;
    }
    .footer-box div .logo{
        color:#192E61
    }

/* -- 밑줄 애니메이션 효과 -- */
/*--- 가운데서 좌우로 펼쳐지는 라인 에니메이션 ---*/
.rightReport > dl > dd > div > strong.spread-underline {color: #202772;text-decoration: none;display: inline-block;padding: 5px 0;position: relative;}
.rightReport > dl > dd > div > strong.spread-underline:after {background: none repeat scroll 0 0 transparent;bottom: 0;display: block;content: "";height: 2px;left: 50%;position: absolute;background: #ffcc33;transition: width 0.3s ease 0s, left 0.3s ease 0s; width: 0;}
.rightReport > dl > dd > div > strong.spread-underline:hover:after {width: 100%;left: 0;}
/*--- 가운데서 오른쪽으로 펼쳐지는 라인 에니메이션 ---*/
.rightReport > div.rightReport_info > span.spread-underline {color: #202772;text-decoration: none;display: inline-block;padding: 5px 0;position: relative;}
.rightReport > div.rightReport_info > span.spread-underline:after {background: none repeat scroll 0 0 transparent;bottom: 0;display: block;content: "";height: 2px;left: 50%;position: absolute;background: #ffcc33;;transition: width 0.3s ease 0s, left 0.3s ease 0s; width: 0;}
.rightReport > div.rightReport_info > span.spread-underline:hover:after {width: 63px;left: 0;}
/* -- 밑줄 애니메이션 효과 끝 -- */

/*---- 스크롤바 커스텀 ----*/
.rightReport .rightReport_info {overflow-y: scroll; height: 70vh; width: 100%;}
.rightReport .rightReport_info::-webkit-scrollbar {width: 7px;} /* 스크롤바의 너비 */
.rightReport .rightReport_info::-webkit-scrollbar-thumb {height: 30%;background: #ffcc33;border-radius: 10px;} /* 스크롤바의 길이, 스크롤바의 색상 */
.rightReport .rightReport_info::-webkit-scrollbar-track {background: rgba(255, 235, 132, .1);} /*스크롤바 뒷 배경 색상*/


/* 본문 */

/* 1. map */

.area {
    position: absolute;
    background: #fff;
    border: 1px solid #888;
    border-radius: 3px;
    font-size: 12px;
    top: -5px;
    left: 15px;
    padding:2px;
}

.info {
    font-size: 12px;
    padding: 5px;
}
.info > p {font-size:12px;}
.info > .size > sup {font-size:12px;}
.info > .title {font-weight: bold;font-size:14px;}
.info > button {font-size: 13px;padding: 4px 2px;margin-top: 1px; cursor: pointer;background:#5bacff61;border-radius: 5px;border: 2px groove;}
.info > button:hover {background:#f5f5f5;background:linear-gradient(#fff7dc,#ffd442);border-color:#E9AA13; color:#262521;}
.info > button:active {background:#e6e6e6;background:linear-gradient(#e6e6e6, #fff);border-color:#F9AB00; color:#591035;}


/* 2. global */

dl {
   margin-left: 20px;
   margin-top: 5px;
   margin-bottom: 10px;
}
ol, ul, li {
   list-style: none;
   padding-left: 0px;
}


/* 3. 상권 분석, 매출 예측 */

html, body {width:100%;height:100%;margin:0;padding:0;overflow: auto;} /*margin:0;padding:0;overflow: auto;*/

/* 3-1. 상권 분석 map */
.areacontrol {font-size:12px;position:fixed;top:76px;left:10px;height:30px;margin:0;padding:0;z-index:1;}
.areacontrol .radius_border{border:1px solid #919191;border-radius:5px;}
.areacontrol span {display:block;width:88.5px;height:50px;float:left;text-align:center;line-height:50px;cursor:pointer;border: 2px;}



.areacontrol .btn {padding:0;font-size:20px;line-height:50px;background:linear-gradient(#e8e8e8,  #fff);border-radius: 10px;}
.areacontrol .btn:hover {background:#f5f5f5;background:linear-gradient(#fff7dc,#ffd442);border-color:#E9AA13; color:#262521;}
.areacontrol .btn:active {background:#e6e6e6;background:linear-gradient(#e6e6e6, #fff);border-color:#F9AB00; color:#591035;}
.areacontrol .selected_btn {color:#591035;background:linear-gradient(#fff7dc, #ffd442);font-size: 20px;border-radius: 10px;}/*background:linear-gradient(#425470, #5b6d8a);*/
.areacontrol .selected_btn:hover {color:#591035;}

/* 3-1-1. 좌측 상단 카테고리 선택 (상권 & 업종) */

.leftCategory {position:fixed;top:130px;left:10px;width:315px; height:427px;margin:0;padding:0 20px; z-index:1;background-color:#fff;border-radius: 10px;}
.leftCategory > p  {font-size:14px;background-color: #f9f9f9;padding: 5px 5px;border-radius: 5px;}
.leftCategory > h3 {font-size:24px;text-align: center;color: #5b6976; padding-top:17px;padding-bottom:13px;margin:0px;}
.leftCategory > hr {border-right-width: 0px;border-top-width: 0px;border-bottom-width: 2px;border-left-width: 0px;margin-bottom: 10px;}
.leftCategory > form > ul > select{appearance:none;border-radius: 5px; width: 100% !important; height:36px;padding: 0 40px 0 20px; margin-top:5px; border: 1px solid #999;font-size: 16px;line-height: 34px; background:url(/static/pictures/arrow_bottom.svg) no-repeat right 20px center/10px auto #fff;}
.leftCategory > form > input{height: 20px; padding: 5px 0;margin-top: 10px;margin-bottom:10px;padding-left: 10px;width: 205px;}
.leftCategory > form > button{padding: 10px 50px;margin-top: 7px;margin-left: 70px;border: 2px outset;background:linear-gradient(#e8e8e8,  #fff);border-radius: 10px;font-size:16px;}
.leftCategory > form > button:hover {background:#f5f5f5;background:linear-gradient(#fff7dc,#ffd442);border-color:#E9AA13; color:#262521;}
.leftCategory > form > button:active {background:#e6e6e6;background:linear-gradient(#e6e6e6, #fff);border-color:#F9AB00; color:#591035;}
.leftCategory > form > hr {border-right-width: 0px;border-top-width: 0px;border-bottom-width: 2px;border-left-width: 0px;margin-bottom: 10px;}
.leftCategory > form > label {font-size:14px;}
.leftCategory > form > label > span {font-size: 18px;-webkit-text-stroke: thin;}



/* 3-2. aside RightReport */
.rightReport {display:none; position:fixed;top:72px;right:0px;height:100vh;width:40% ;margin:0;padding:0;z-index:1;background-color:#fff;}
.rightReport > dl {margin:0;}
.rightReport > dl > hr {margin-left: 22px;margin-right: 22px;border-bottom-width: 2px;border-top-width: 0px;border-right-width: 0px;border-left-width: 0px;}
.rightReport > dl > .sang1 {display:flex; justify-content: space-around; padding-top: 0px; margin-inline-start: 0px;height: 40px;}
.rightReport > dl > .sang1 > hr {border-right-width: 0px;border-top-width: 0px;border-bottom-width: 0px;border-left-width: 0px;}
.rightReport > dl > .sang1 > div {margin-left: 10px; margin-right: 10px;}
.rightReport > dl > .sang1 > div > strong {font-size:15px; margin-right: 30px;margin-left: 30px;}
.rightReport > dl > .sang1 > div > strong > a {display: block; margin-top: 8px; text-decoration: none;color: #202772;font-size: 18px;}

.rightReport > dl > dt {padding:15px; background-color:#ffcc33; color:white;}
.rightReport > dl > dt > strong {font-size:larger; margin-right:15px; margin-left:10px; font-size:22px;}
.rightReport > dl > dt > span {font-size:small;}

.rightReport > dl > .sang2 {padding-top: 0;}
.rightReport > dl > .sang2 > div {box-shadow: inset 0px -1px 2px 0px #f1f1f1;}
.rightReport > dl > .sang2 > div > dl {display:inline-block; margin-bottom: 15px;margin-top: 15px; font-size:14px;}
.rightReport > dl > .sang2 > div > dl > dt {display:inline; margin-inline-start: 5px; font-size:14px;}
.rightReport > dl > .sang2 > div > dl > dd {display:inline; margin-inline-start: 7px;} 
.rightReport > dl > .sang2 > div > dl > strong > dd {color:#393d41;font-size:22px;padding-left: 5px;}


/* 3-2-1 RightReport_Info */
.rightReport .rightReport_info > div {font-size:14px;background-color: #f9f9f9;padding: 5px 5px;border-radius: 5px;margin: 10px;}
.rightReport .rightReport_info > div > strong {font-size:14px;-webkit-text-stroke: thin;}
.rightReport .rightReport_info > #als {display: block;margin-top: 20px;margin-left: 21px;font-weight:bold;}
.rightReport .rightReport_info > #pred {display: block;margin-top: 20px;margin-left: 21px;margin-top: 35px;font-weight:bold;}
.rightReport .rightReport_info > dl {padding:0 10px 30px; margin-left:10px; border-bottom:9px solid #f1f1f1;}
.rightReport .rightReport_info > dl > dt {padding:20px 0 0px; font-size:15px;}
.rightReport .rightReport_info > dl > dd {display: block;margin-left: 0px;}

/* 3-2-2 상권 분석 데이터 */
ul.analysis_list > li{-webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;}
ul.analysis_list > li.summary {margin-bottom:15px; margin-top:15px; font-size:22px; font-weight:700;}
ul.analysis_list > li.summary strong {color:#0676dd; font-size:inherit;}
ul.analysis_list > li.detail {margin-bottom:24px; padding:20px; font-size:14px; line-height:1.4;}
ul.analysis_list > li.detail strong {color:#0676dd; font-size:inherit; font-weight:500;}

/* 3-2-3 매출 예측 데이터 */
ul.pred_list > li{-webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;}
ul.pred_list > li.summary {margin-bottom:15px; margin-top:15px; font-size:22px; font-weight:700;}
ul.pred_list > li.summary strong {color:#0676dd; font-size:inherit;}
ul.pred_list > li.detail {margin-bottom:24px; padding:20px; font-size:14px; line-height:1.4;}
ul.pred_list > li.detail strong {color:#0676dd; font-size:inherit; font-weight:500;}

.map-container{
  position:fixed;
  width:100%;
  height:100%;
  display: flex;
  flex-flow: wrap column;
  justify-content: space-between;
  /* height: 100vh; */
}


  /*로그인*/
.account-page{
  height: 80vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.account-page .logo{
  margin: 0px 0px 30px 0px;
  color:#192E61;
}
.login-box{
  width: 350px;
  height: 30px;
  left: 689px;
  top: 453px;
  background: #F8F8F8;
  border-radius: 5px;
}
.login-btn{
  width: 350px;
  height: 45px;
  left: 689px;
  top: 564px;
  color: #f3f3f3;
  background: #192E61;
  border-radius: 10px;
}
.login-btn:hover{
  background:#3E6CB0;
  border-radius:15px;
  animation-duration: 3s;
}
.signin-container{
  margin: 20px 10px 20px 10px;
}

.account-box > input {
  width: 350px; 
  height: 45px; 
  left: 689px; 
  top: 564px;
  border:none;
  border-radius: 5px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-indent: 5px;
  text-align: center;
}
.btn-etc{
  display: flex;
  justify-content:space-around;
  margin-top: 20px;
  text-decoration: none;
  font-weight: 100;
  font-size: 12px;
  line-height: 14px;
  color: #434343;
}
.btn-etc a:visited { color: #434343; }
.btn-etc a:hover{ color:black;}

/**회원가입*/
#i1 {
    font-weight: 800;
    font-size: 16px;
    line-height: 15px;
    text-align: center;
    margin-bottom: 2px;
}
#i2{
    font-weight: 600;
    font-size: 13px;
    line-height: 15px;
}
.signup-wrap{
    margin: 10px;
}
.signup-container{
    margin-top: 2px;
}
.signup-label{
    color: #333333;
    font-weight: 400;
}
.signup-container .account-box{
    width: 400px;
}
.signup-inform{
    margin-top: 20px;
    text-decoration: none;
    font-weight:600;
    font-size: 16px;
    color: #5B5B5B;
    text-align: center;
    
}
hr{
    background:5B5B5B;
    height:2px;
    border: 1;
}
.account-page .btn-etc{
    display: flex;
    justify-content: space-evenly;
    padding:0px 10px 10px 10px; 
}
#signin-btn{
    width: 400px;
}


