{% load static %}
<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>aniorimiro</title>
    <style>
        body{
            background-color:#98A7BD;
            margin:0;
        }
        
    </style>
</head>
<body class="base-body">
<!-- 네비게이션 바 -->
{% include 'etc/navbar.html' %}
<!-- /네비게이션 바 -->

<!-- 기본 템플릿 안에 삽입될 내용 Start -->
{% block content %}
{% endblock %}
<!-- 기본 템플릿 안에 삽입될 내용 End -->
{% include 'etc/footer.html' %}
</body>
</html>