{% extends "base.html" %}
{% load static %}
{% block content %}
<body class="index">
<!--본문-->
<div class="index-container">
    {% include 'etc/navbar.html' %}
    <!--메인메뉴-->  
    <div class="i-wrap">
        <div class="index-menu-container">
        <div class="index-menu-box">        
            <div class="btn-container">
                <div class="index-header btn-logo">                 
                    <div class="under-logo">
                        <br><br> The wook easy and ganpyeon hagae YONGSANGU sanggeoneul bunseok see the sun.
                        <br><br> <a class="logo" href="{% url 'index' %}">ANIORIMIRO!</a>
                        <br>최고의 경험을 제공합니다!
                    </div>
                </div>        
                <div class="menu-box">
                    <img src="../static/pictures/btn-s4.png" class="btn-img">
                    <button class="btn-s"  onclick="location.href='{% url 'map' %}'">
                        상권분석
                    </button>
                </div>
            </div>
        </div>
        </div>
        <div class="scroll-downs">
            <div class="mousey">
            <div class="scroller"></div>
            </div>
        </div>  
    </div>
</div>


<!--/메인메뉴-->
<!--what we do-->
<div class="whatwedo">
    <div class="index-header">
        <a class="logo" >WHAT WE DO</a>
    </div>
    <div class="whatwedo-container">
        <div class="whatwedo-box">
            <b style="font-size: 50px;">A</b> niorimiro는 빅데이터 솔루션 유통 및 개발의 선두주자로서 신규 사업자분들을 위해 기존 데이터를 기반으로 한 상권분석 정보를 제공합니다. 대한민국 서울특별시 용산구에서의 신규 창업과 경영 등을 위한 유익한 정보를 제공하고자 노력하고 있습니다.
            <br><br>It is possible to effectively perform various affiliate tasks based on big data, such as analyzing commercial districts by store, reporting expected sales. The business DB of Yongsan-gu is scheduled to be updated every month, and through the visualized commercial district analysis report, it is possible to analyze sales and candidate sites by industry by individual building unit.
        </div>
        <div class="whatwedo-box">
            <b style="font-size: 50px;">A</b> niorimori는 상권 트렌드가 빠르게 변화하는 와중에 입지 선정에 필요한 자금에 대한 합리적인 결정을 위한 정보를 함께 제공합니다. 
            예비 창업자분들과 경영자분들은  편의상 좋은 입지, 부동산 비용이 비싼 입지와 저렴한 입지, 유동인구가 풍부한 입지와 부족한 입지 등을 aniorimiro의 상권분석 프로그램을 통하여 확인하세요. 
            출점 후보지 및 예상 매출 분석 등에 필요한 인력과 시간 등을 절감할 수 있습니다.
            <br><br>A niorimori provides information for making rational decisions about the funds needed for site selection amid rapidly changing commercial trends.
        </div>
        <div class="whatwedo-box">
            <b style="font-size: 50px;">A</b> Aniorimiro의 상권분석 프로그램을 통하여 확인하세요. 출점 후보지 및 예상 매출 분석 등에 필요한 인력과 시간 등을 절감할 수 있습니다.
            매월 용산구의 사업체 DB가 업데이트될 예정이며, 시각화된 상권분석리포트를 통해 개별 건물 단위로의 업종별 매출 분석 및 후보지 분석이 가능합니다.
            <br><br>Check through the commercial area analysis program. You can save manpower and time required for store opening candidates and sales forecast analysis.
        </div>
    </div>
    <div class="scroll-downs">
        <div class="mousey">
          <div class="scroller"></div>
        </div>
</div>

</div> 
</div>
    
</div>
<!--/what we do-->

<!--about us-->
<div class="aboutus">
    <div class="index-header">
        <a class="logo" >ABOUT US</a>
    </div>
    <div class="aboutus-container">
        <div class="aboutus-box1">
            <div class="b4a-container">
                <div class="under-logo">
                    <span id="b4aa">Be 4</span><br>
                    <p>
                        Lorem ipsum dolor sit amet conLorem ipsum dolor sit amet consectetur. In ultricies varius temLorem ipsum dolor sit amet consectetur. In ultricies varius temsectetur. In ultricies varius tempor vitae ornare condimentum tempus nec pellentesque. Purus nullam turpis in 
                    </p>
                    <div style="display: flex; justify-content: space-around;">
                        <span id="b4aa2" style="width: auto;"></span><span id="b4aa2">& After</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="aboutus-box2">
            <div class="logo">Have any Questions?</div>
            <div class="box2-container">
                <img src="../static/pictures/contact.png" class="btn-img">
                <button class="btn-s">
                    Contact Us
                </button>
            </div>
        </div>
    </div>
</div>    
<!--/about us-->
<!--/본문-->
    
</div>
{% include 'etc/footer.html' %}
</body>

{% endblock content %}

