{% extends "base.html" %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>map</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script>
      //ajax
      function ajaxSend(){
        //alert("제출클릭됨!!")
        let data = $("#sform").serialize();
        return $.ajax({
            url:"/analysis/calldb/",
            type:"post",
            data:data,
            dataType:"json",
            success:function(data){
            //innerText보다 textContent가 속도가 빠르다
            //상권 소분류(1~40)
            document.querySelector("#showData2").textContent =data.tradingArea;
            //상권 대분류(1~4)
            document.querySelector("#showData3").textContent =data.BigTradingArea;

            //소분류 업종(1~30)
            document.querySelector("#showData4").textContent =data.smallBusiType;
            //대분류 업종(고유 코드 필요X, 사용자 확인용)
            document.querySelector("#showData1").textContent =data.businessType;
			if (data.result1 == 0){
				document.querySelector("#showData5").textContent = "데이터가 없습니다."
			} else {
				document.querySelector("#showData5").textContent = data.result1+' 원'
          	}
			if (data.result2 == 0){
				document.querySelector("#showData6").textContent = "데이터가 없습니다."
			} else {
				document.querySelector("#showData6").textContent = data.result2+' 원'
          	}
			if (data.result3 == 0){
				document.querySelector("#showData7").textContent = "데이터가 없습니다."
			} else {
				document.querySelector("#showData7").textContent = data.result3+' 원'
          	}
			if (data.result4 == 0){
				document.querySelector("#showData8").textContent = "데이터가 없습니다."
			} else {
				document.querySelector("#showData8").textContent = data.result4+' 원'
          	}
			}
        })
      }

      

      function selectBusi(){
        var bigBusi = document.querySelector("#selectBusiType")
        var smallBusi = document.querySelector("#smallCategory")
        var bigOption = bigBusi.options[bigBusi.selectedIndex].innerText;

        var subOptions = {
        food:['분식전문점', '양식음식점', '일식음식점', '제과점', '중식음식점', '치킨전문점', '커피-음료', '패스트푸드점', '한식음식점', '호프-간이주점'],
        service:['PC방', '가전제품수리', '고시원', '골프연습장', '네일숍', '노래방', '당구장', '미용실', '부동산중개업', '세탁소', '스포츠 강습', '스포츠클럽', '여관', '예술학원', '외국어학원', '일반교습학원', '일반의원', '자동차미용', '자동차수리', '치과의원', '피부관리실', '한의원'],
        retail:['가구', '가방', '가전제품', '문구', '미곡판매', '반찬가게', '서적', '섬유제품', '수산물판매', '슈퍼마켓', '시계및귀금속', '신발', '안경', '애완동물', '완구', '운동/경기용품', '육류판매', '의료기기', '의약품', '인테리어', '일반의류', '자전거 및 기타운송장비', '전자상거래업', '조명용품', '철물점', '청과상', '컴퓨터및주변장치판매', '편의점', '핸드폰', '화장품', '화초']
        }

        switch(bigOption){
          case "외식업":
            var subOption = subOptions.food;
            break;
          case "서비스업":
            var subOption = subOptions.service;
            break;
          case "소매업":
            var subOption = subOptions.retail;
            break;
        }

        smallBusi.options.length = 0;

        for(var i=0; i < subOption.length; i++){
          var option = document.createElement('option');
          option.innerText = subOption[i];
          option.value = subOption[i];
          smallBusi.append(option);
        }
      }

      
       
    </script>

</head>
<body>

<div>
  <div id="map" style="width:100%;height:650px;"></div>
  <div class="areacontrol radius_border">
    <span id="btnGm" class="btn" onclick="setComArea('gm')">골목상권</span>
    <span id="btnGg" class="btn" onclick="setComArea('gg')">관광특구</span>
    <span id="btnBd" class="btn" onclick="setComArea('bd')">발달상권</span>
    <span id="btnJt" class="btn" onclick="setComArea('jt')">전통시장</span>    
  </div>

  <div class="leftCategory">
    <h3>상권, 업종 선택하기 </h3>
    <form method="post" id="sform">{% csrf_token %}
      <label for="tradingarea" >대분류 상권:</label>
      <input type="text" id=area3 value="" name="BigTradingArea"><br/>
      <label for="tradingarea" >소분류 상권:</label>
      <span id=area1> </span><br/>
      <input type="text" id=area2 value="" name="tradingArea"><br/>
      <label for="tradingarea" >대분류 업종:</label>
      <select name="businessType" id="selectBusiType" onchange="selectBusi()">
        <option value="" selected disabled>업종을 선택해주세요</option>
        <option value="외식업" >외식업</option>
        <option value="서비스업">서비스업</option>
        <option value="소매업">소매업</option>
      </select><br/>
      <label for="tradingarea" >소분류 업종:</label>
      <select name="smallBusiType" id="smallCategory">
        
      </select>
      
      <!-- form 에서 onclick 속성을 사용 시 새로고침을 피할 수 없다.-->
      <!-- 1. button -> div/span 로 바꾼다. 2. button 태그를 줬다면 type="button"속성을 추가해준다 -->
      <button onclick="ajaxSend()" type="button" id="reportBtn"> 제출</button>
    </form>
  </div>

  <aside class="rightReport">
 	<dl>
	    <dt>
	    	<strong>상권 분석 리포트</strong>
	    	<span id="dateString"></span>
	    </dt>
		<dd class="sang1">
			
			<div>
				<strong class="spread-underline" ><a href="#als" id="showData_b">분석</a></strong>
			</div>
			<hr />
			<div>
				<strong class="spread-underline"><a href="#pred" id="showData_p">예측</a></strong>
			</div>
			
		</dd>
		<hr />
	    <dd class="sang2">
	    	<div>
          <dl> 
	    			<dt><strong>대분류 상권</strong></dt>
	    			<dd id="showData3"></dd>
	    		</dl>
          <dl> 
	    			<dt><strong>소분류 상권</strong></dt>
	    			<dd id="showData2"></dd>
	    		</dl>
          <dl>
	    			<dt><strong>대분류 업종</strong></dt>
	    			<dd id="showData1"></dd>
	    		</dl>
	    		<dl>
	    			<dt><strong>소분류 업종</strong></dt>
	    			<dd id="showData4"></dd>
	    		</dl>
	    	</div>
	    </dd>
	</dl>
	<div class="rightReport_info">
		<span id="als" class="spread-underline">상권 분석</span>
		<dl>
			<dt>업종 분포현황</dt>
			<dd>
				<ul class="analysis_list">
					<li class="summary">
						<strong id="showData1"></strong>이 가장많고
						<strong id="showData1"></strong> 이 증가하는 추세입니다.
					</li>
					<li class="detail">
					
					</li>
				</ul>
			</dd>
		</dl>
		<dl>	
			<dt>업종별 점포수</dt>
			<dd>
				<ul class="analysis_list">
					<li class="summary"></li>
					<li class="detail">
					
					</li>
				</ul>
			</dd>
		</dl>
		<dl>
			<dt>상권별 남녀 매출</dt>
			<dd>
				<ul class="analysis_list">
					<li class="summary"></li>
					<li class="detail">
					
					</li>
				</ul>
			</dd>
		</dl>
		<dl>
			<dt>시간대별 매출</dt>
			<dd>
				<ul class="analysis_list">
					<li class="summary"></li>
					<li class="detail">
					
					</li>
				</ul>
			</dd>
		</dl>
		<span id="pred" class="spread-underline">매출 예측</span>
		<dl>
			<dt></dt>
			<dd>
				<ul class="pred_list">
					<li class="summary">1분기 예상 매출액은 <strong id="showData5"></strong></li>
		            <li class="summary">2분기 예측 매출액은 <strong id="showData6"></strong></li>
		            <li class="summary">3분기 예측 매출액은 <strong id="showData7"></strong></li>
		            <li class="summary">4분기 예측 매출액은 <strong id="showData8"></strong></li>
					<li class="detail"></li>
				</ul>
			</dd>
		</dl>
		<dl>	
			<dt>모델에 대한 결과</dt>
			<dd>
				<ul class="pred_list">
					<li class="summary"></li>
					<li class="detail">
					
					</li>
				</ul>
			</dd>
		</dl>
		<dl>
			<dt>건수, 요일별 매출</dt>
			<dd>
				<ul class="pred_list">
					<li class="summary"></li>
					<li class="detail">
					
					</li>
				</ul>
			</dd>
		</dl>
		<dl>
			<dt>시간대별 매출</dt>
			<dd>
				<ul class="pred_list">
					<li class="summary"></li>
					<li class="detail">
					
					</li>
				</ul>
			</dd>
		</dl>
		</div>
  </aside>
</div>


<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=51806ebafe88ce5dbfc859c1db2a1f13"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script>


// 새로운 빈 배열을 생성한다. []
let areas_gm = new Array();
let areas_gg = new Array();
let areas_bd = new Array();
let areas_jt = new Array();

//제이쿼리를 사용해서 스태틱 폴더에 저장된 json 파일을 불러온다.
let jsonLoca_gm = '/static/data/gm.json';
let jsonLoca_gg = '/static/data/gg.json';
let jsonLoca_bd = '/static/data/bd.json';
let jsonLoca_jt = '/static/data/jt.json';

//지도에서 표시할 상권영역 4가지를 독립적으로 선택할 수 있는 함수
function setComArea(areatype){
  let bdControl = document.getElementById('btnBd');
  let ggControl = document.getElementById('btnGg');
  let gmControl = document.getElementById('btnGm');
  let jtControl = document.getElementById('btnJt');

// *** $.getJSON으로 묶인 그룹은 지도에 폴리곤으로 표시할 영역데이터 배열 생성 로직입니다 ***
  if(areatype === 'bd'){
    $("#area3").attr("value", "발달상권")
    //기존의 그려져있던 영역 삭제하고
    $("path").remove();
    //새로운 영역 그리기
    //lineColor : 2838F2
    $.getJSON(jsonLoca_bd, function(data){
      //반복문 돌면서 상권별 데이터를 담을 준비
      $.each(data, function(I, item){
          //상권명과 좌표정보를 담을 객체를 생성하고 {}
          let area = new Object();
          //상권명은 바로 name이라는 키값에 전달한다 name:""
          area.name = item.name;
          //좌표정보는 path라는 키값에 전달할건데
          //우선 새로운 배열을 생성해서
          area.path = new Array();
          //for문을 이용해 돌면서 좌표정보를 담을 것이다
          for (let i=0; i<item.LatLng.length; i++){
            //위에서 제이쿼리 each 반복문에서 가져온 위도경도 값을 카카오 LatLng 메소드에 넣고
            //생성된 객체를 newlatlng 변수에 담았다
            let newlatlng = new kakao.maps.LatLng(item.LatLng[i][0], item.LatLng[i][1])
            //그리고 area라는 배열에 반복문을 돌면서 담았다
            area.path.push(newlatlng)
          }        
          //담은 name과 path를 모두 담은 객체는 areas 배열에 each 반복문을 돌면서 push로 추가시킨다.
          areas_bd.push(area);
      })
      //for 반복문을 돌면서 displayArea 메소드를 사용해서 상권 영역을 지도에 그린다.
      for (var i = 0, len = areas_bd.length; i < len; i++) {
        displayArea(areas_bd[i], '#2838F2');
    }});
    bdControl.className = "selected_btn";
    ggControl.className = "btn";
    gmControl.className = "btn";
    jtControl.className = "btn";

  }else if(areatype === 'gg'){
    $("#area3").attr("value", "관광특구")
    //기존의 그려져있던 영역 삭제하고
    $("path").remove();
    //새로운 영역 그리기
    //lineColor : F038DE
    $.getJSON(jsonLoca_gg, function(data){
      //반복문 돌면서 상권별 데이터를 담을 준비
      $.each(data, function(I, item){
          //상권명과 좌표정보를 담을 객체를 생성하고 {}
          let area = new Object();
          //상권명은 바로 name이라는 키값에 전달한다 name:""
          area.name = item.name;
          //좌표정보는 path라는 키값에 전달할건데
          //우선 새로운 배열을 생성해서
          area.path = new Array();
          //for문을 이용해 돌면서 좌표정보를 담을 것이다
          for (let i=0; i<item.LatLng.length; i++){
            //위에서 제이쿼리 each 반복문에서 가져온 위도경도 값을 카카오 LatLng 메소드에 넣고
            //생성된 객체를 newlatlng 변수에 담았다
            let newlatlng = new kakao.maps.LatLng(item.LatLng[i][0], item.LatLng[i][1])
            //그리고 area라는 배열에 반복문을 돌면서 담았다
            area.path.push(newlatlng)
          }        
          //담은 name과 path를 모두 담은 객체는 areas 배열에 each 반복문을 돌면서 push로 추가시킨다.
          areas_gg.push(area);
      })
      //for 반복문을 돌면서 displayArea 메소드를 사용해서 상권 영역을 지도에 그린다.
      for (var i = 0, len = areas_gg.length; i < len; i++) {
        displayArea(areas_gg[i], '#F038DE');
    }});
    bdControl.className = "btn";
    ggControl.className = "selected_btn";
    gmControl.className = "btn";
    jtControl.className = "btn";

  }else if(areatype === 'gm'){
    $("#area3").attr("value", "골목상권")
    //기존의 그려져있던 영역 삭제하고
    $("path").remove();
    //새로운 영역 그리기
    //lineColor : 9A3D23
    $.getJSON(jsonLoca_gm, function(data){
      //반복문 돌면서 상권별 데이터를 담을 준비
      $.each(data, function(I, item){
          //상권명과 좌표정보를 담을 객체를 생성하고 {}
          let area = new Object();
          //상권명은 바로 name이라는 키값에 전달한다 name:""
          area.name = item.name;
          //좌표정보는 path라는 키값에 전달할건데
          //우선 새로운 배열을 생성해서
          area.path = new Array();
          //for문을 이용해 돌면서 좌표정보를 담을 것이다
          for (let i=0; i<item.LatLng.length; i++){
            //위에서 제이쿼리 each 반복문에서 가져온 위도경도 값을 카카오 LatLng 메소드에 넣고
            //생성된 객체를 newlatlng 변수에 담았다
            let newlatlng = new kakao.maps.LatLng(item.LatLng[i][0], item.LatLng[i][1])
            //그리고 area라는 배열에 반복문을 돌면서 담았다
            area.path.push(newlatlng)
          }        
          //담은 name과 path를 모두 담은 객체는 areas 배열에 each 반복문을 돌면서 push로 추가시킨다.
          areas_gm.push(area);
      })
      //for 반복문을 돌면서 displayArea 메소드를 사용해서 상권 영역을 지도에 그린다.
      for (var i = 0, len = areas_gm.length; i < len; i++) {
        displayArea(areas_gm[i], '#9A3D23');
    }}); 
    bdControl.className = "btn";
    ggControl.className = "btn";
    gmControl.className = "selected_btn";
    jtControl.className = "btn";

  }else if(areatype === 'jt'){
    $("#area3").attr("value", "전통시장")
    //기존의 그려져있던 영역 삭제하고
    $("path").remove();
    //새로운 영역 그리기
    //lineColor : F03838
    $.getJSON(jsonLoca_jt, function(data){
      //반복문 돌면서 상권별 데이터를 담을 준비
      $.each(data, function(I, item){
          //상권명과 좌표정보를 담을 객체를 생성하고 {}
          let area = new Object();
          //상권명은 바로 name이라는 키값에 전달한다 name:""
          area.name = item.name;
          //좌표정보는 path라는 키값에 전달할건데
          //우선 새로운 배열을 생성해서
          area.path = new Array();
          //for문을 이용해 돌면서 좌표정보를 담을 것이다
          for (let i=0; i<item.LatLng.length; i++){
            //위에서 제이쿼리 each 반복문에서 가져온 위도경도 값을 카카오 LatLng 메소드에 넣고
            //생성된 객체를 newlatlng 변수에 담았다
            let newlatlng = new kakao.maps.LatLng(item.LatLng[i][0], item.LatLng[i][1])
            //그리고 area라는 배열에 반복문을 돌면서 담았다
            area.path.push(newlatlng)
          }        
          //담은 name과 path를 모두 담은 객체는 areas 배열에 each 반복문을 돌면서 push로 추가시킨다.
          areas_jt.push(area);
      })
      //for 반복문을 돌면서 displayArea 메소드를 사용해서 상권 영역을 지도에 그린다.
      for (var i = 0, len = areas_jt.length; i < len; i++) {
        displayArea(areas_jt[i], '#F03838');
    }});
    bdControl.className = "btn";
    ggControl.className = "btn";
    gmControl.className = "btn";
    jtControl.className = "selected_btn";

  }

}


var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
    mapOption = { 
        center: new kakao.maps.LatLng(37.53481662194368, 126.9809016009247), // 지도의 중심좌표
        level: 6 // 지도의 확대 레벨
    };

var map = new kakao.maps.Map(mapContainer, mapOption),
    customOverlay = new kakao.maps.CustomOverlay({}),
    infowindow = new kakao.maps.InfoWindow({removable: true});


// 다각형을 생성하고 이벤트를 등록하는 함수입니다
function displayArea(area, lineColor) {

    // 다각형을 생성합니다 
    var polygon = new kakao.maps.Polygon({
        map: map, // 다각형을 표시할 지도 객체
        path: area.path,
        strokeWeight: 2,
        strokeColor: lineColor,
        strokeOpacity: 0.8,
        fillColor: '#fff',
        fillOpacity: 0.4
    });

    // 다각형에 mouseover 이벤트를 등록하고 이벤트가 발생하면 폴리곤의 채움색을 변경합니다 
    // 지역명을 표시하는 커스텀오버레이를 지도위에 표시합니다
    kakao.maps.event.addListener(polygon, 'mouseover', function(mouseEvent) {
        polygon.setOptions({fillColor: '#09f'});

        customOverlay.setContent('<div class="area">' + area.name + '</div>');
        
        customOverlay.setPosition(mouseEvent.latLng); 
        customOverlay.setMap(map);
    });

    // 다각형에 mousemove 이벤트를 등록하고 이벤트가 발생하면 커스텀 오버레이의 위치를 변경합니다 
    kakao.maps.event.addListener(polygon, 'mousemove', function(mouseEvent) {
        
        customOverlay.setPosition(mouseEvent.latLng); 
    });

    // 다각형에 mouseout 이벤트를 등록하고 이벤트가 발생하면 폴리곤의 채움색을 원래색으로 변경합니다
    // 커스텀 오버레이를 지도에서 제거합니다 
    kakao.maps.event.addListener(polygon, 'mouseout', function() {
        polygon.setOptions({fillColor: '#fff'});
        customOverlay.setMap(null);
    }); 

    // 다각형에 click 이벤트를 등록하고 이벤트가 발생하면 다각형의 이름과 면적을 인포윈도우에 표시합니다 
    kakao.maps.event.addListener(polygon, 'click', function(mouseEvent) {

        var content = '<div class="info">' + 
                    '   <div class="title">' + area.name + '</div>' +
                    '   <div class="size">총 면적 : 약 ' + Math.floor(polygon.getArea()) + ' m<sup>2</sup></div>' +
                    '   <button type="button" name="chooseArea"> 상권 선택</button>'
                    '</div>';

        infowindow.setContent(content); 
        infowindow.setPosition(mouseEvent.latLng); 
        infowindow.setMap(map);

        // 클릭한 영역 위치로 포커싱
        map.panTo(mouseEvent.latLng); 


        $(document).ready(function(){
      $("button[name='chooseArea']").click(function(){
      $("#area1").text(area.name);
      $("#area2").attr("value", area.name)
    })
  }) 
    });

    
}



//마커의 이미지정보를 가지고 있는 마커이미지를 생성합니다
let markerImage = new kakao.maps.MarkerImage(
    '/static/pictures/KakaoTalk_20221123_105421668.png',
    new kakao.maps.Size(50, 50), new kakao.maps.Point(15, 34));
    markerPosition = new kakao.maps.LatLng(37.53481662194368, 126.9809016009247 );// 마커가 표시될 위치입니다.

// 마커를 생성합니다
let marker = new kakao.maps.Marker({
    position: markerPosition, 
    image: markerImage // 마커이미지 설정 
});

// 마커가 지도 위에 표시되도록 설정합니다
marker.setMap(map);
marker.setImage(markerImage); // 이미지도 함께

/* 우측 리포트 - 축소, 확대 토글 버튼 */
document.querySelector("#reportBtn").addEventListener("click",function(){
	document.querySelector(".rightReport").style.display='block'
})

//현재 날짜 불러오기
var today = new Date();
var year = today.getFullYear();
var month = ('0' + (today.getMonth() + 1)).slice(-2);
var day = ('0' + today.getDate()).slice(-2);
document.getElementById("dateString").innerHTML= year + '년' + month  + '월' + day + '일';


//CSV 파일 HTML 테이블로 변환하기


</script>
</body>
</html>
{% endblock content %}